# CODEOWNERS for CellixJS framework

# Assigns code ownership of all CellixJS framework files to the core team
/packages/cellix-*                          @CellixJs/tech-sme
/packages/service-*                         @CellixJs/tech-sme

# Assigns code ownership of configuration files to the admin team
/tsconfig.json                              @CellixJs/tech-admin
/tsconfig.base.json                         @CellixJs/tech-admin
/packages/**/tsconfig.json                  @CellixJs/tech-admin
/biome.json                                 @CellixJs/tech-admin
/packages/**/biome.json                     @CellixJs/tech-admin
/vitest.base.config.js                      @CellixJs/tech-admin
/packages/**/vitest.config.ts               @CellixJs/tech-admin

# Assigns ownership of infrastructure as code files to the admin team
/iac/*                                      @CellixJs/tech-admin
/build-pipeline/*.yml                       @CellixJs/tech-admin

# Assigns code ownership of all .feature files to the QA team (need to create 'tech-qa' team)
# /packages/**/*.feature                      @CellixJs/tech-qa

# Allows application-specific (@ocom) package changes without requiring core team approval